<launch>
        <node
        pkg="turtlesim"
        type="turtlesim_node"
        name="turtlesim"
        respawn="true"
        ns="turtle2"
        />

        <node
        pkg="turtlesim"
        type="turtlesim_node"
        name="turtlesim"
        respawn="true"
        ns="turtle1"
        />

        <node
        pkg="turtlesim"
        type="turtle_teleop_key"
        name="teleop_key"
        required="true"
        launch-prefix="xterm -e"
        ns="turtle1"
        />

        <node
        pkg="turtlesim_application"
        type="turtlesimap_subscriber_exe"
        name="turtlesim_subscriber_node"
        output="screen"
        ns="turtle1"
        />

        <node
        pkg="turtlesim_application"
        type="turtlesimap_publisher_exe"
        name="turtlesim_publisher_node"
        ns="turtle2"
        />

</launch>
